/* https://cybmeta.com/formas-basicas-con-css-triangulos-circulos-trapecios-rectangulos-cuadrados 
Para generar formas basica en CSS 
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*  font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    scroll-behavior: smooth;
}


:root{
    --principal-color: #8E7BEF;
    --accent-color: #5D3BEF;
    --ligth-color: #F9F6FF;
    --gray-1: #222; 
    --gray-2: #423F40; 
    --cream :  #f9f5f2;
   
   }
   
body{
    font-family: 'Montserrat', sans-serif; 
}

/* Contantes */
.text-centre{
    text-align: center;
}

a:link {
    text-decoration: none;
    color:#423F40;
  }
  
  a:visited {
    text-decoration: none;
    color: #423F40;
  }


/*menu*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

nav > div > img{
    width: 45px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{

    background-color: thistle;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 10;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

/* content-header */
.content-header {
    display: flex;
    gap: 10px;
    flex-direction: column; 
    text-align: center;
    /* width: 90%; */
    height: 690px;
    margin: 0px 0px 20px 0px;
}


/* Imagen and text*/
.seccion1-header{
    position: relative;
}

.seccion1-header > img{
    width: 320px;
    margin-top: 220px;
}


.seccion2-header{
    position:absolute;
    align-self: center;
}

.seccion2-header > p{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10px;
    color: #423F40;
}

.h1-title{
 font-size: 4rem;
 text-align: left;
 margin-left: 10px;
}

h2{
    font-size: 35px;
    font-weight: 700;
}

.icon-header-flex{
    display: flex;
    gap: 3rem;
    top: 305px;
    /* position: absolute;
    position: relative; */
   
    justify-content: center;
    position: relative;
}

.icon{
    /* Rirculo */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--principal-color);
    
    /* Cantrado de icono*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .icon-linkedin{
    
}

.ico-instagram{

}

.icon-twittwr{

} */

/* Boton Contact*/
.contact{
    position: relative;
    top: 340px;
}

.btn-contact{

    padding: 15px;
    background-color: var(--principal-color);
    border: none;
    font-size: 1.5rem;
    color: white;
    background-image: url(../images/mail_3.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% - 93px) center;
    background-size: 25px;
    cursor: progress;
    width: 80%;

}

/* Content */
.content{
    /* text-align: center; */
    padding: 30PX;
    margin-top: 20px;
    /* width: 90%; */
    margin: 30px 20px;
}

.content-about > p{
    padding: .25rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #423F40;
}

.content-habilidad{
    top: 20px;
    position: relative;
}

/* seccion-art-flex */
.seccion-art-flex{
    display: flex;
    gap: .5rem;
    justify-content: center;
   /* flex-wrap: wrap; */
}

.seccion-abil-flex{

        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        max-width: 100vw;
        overflow-x: scroll;
       /* flex-wrap: wrap; */

}

.article{

    /* text-align: justify;*/
    background-color: var(--cream);
    padding: 1rem;
    margin: 5px 20px;
     /* text-align: justify;*/
    text-align: left;
    width: 250px;
    min-width: 250px;
    height: 400px;
}

.art-title{
    /* text-align: center; */
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
.art-title > span > img {
  width: 20px;  
}

.art-img{
    text-align: center;
    margin-bottom: 15px;
}

.art-img > div > img {
    width: 100px;
}

/* experience */
.experience{
    display: flex;
    gap: 1rem;
    align-items: center;
    /* Centra contenido */
    justify-content: space-between;
    margin: 50px 0;
}

.experience > div > img{
    width: 100px;
}
.experience > div > h5{
    color: var(--gray-2);
}
/* GALERIA */
.proyectos-gal{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    justify-items: center;
}

.proyectos-gal > img{
    max-width: 100%;
    object-fit: cover;
}

/* contact-me */
.contact-me-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Posicion */
    margin-right: 2rem;
    width: 160px;
    justify-content: center;
    align-items: center;
}
.contact-me-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Posicion */
    margin-left: 2rem;
    width: 160px;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    
    background-color: var(--ligth-color);
    /* padding: 40px;
    border-radius: 50%; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem auto;
}

/* Footer*/
footer {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--accent-color);
    color: white;
}

@media screen and (min-width: 780px){
    label{
        display: none;
    }
    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        
    }

    body {
        width: 1200px;
        margin: auto;
    } 
    .content-header{
        display: flex;
        gap: 10px;
        flex-direction: row;
        text-align: center;
        /* width: 90%; */
        height: 520px;
        margin: 0px 0px 20px 0px;

    }

    .seccion1-header {
        position: relative;
        width: 50%;
    }

    .seccion1-header > img {
        width: 320px;
        margin-top: 100px;
    }
    .seccion2-header{
       position: relative;
       width: 50%;
    }
    .seccion2-header {
        position: relative;
        margin-top: 35px;
    }

    .icon > img{
        width: 35px;
        height: 35px;
    }

    .icon-header-flex {
        display: flex;
        gap: 3rem;
        top: 30px;
        justify-content: flex-start;
        position: relative;
    }

    .contact{
        position: relative;
        top: 80px;
        text-align: left;
    }

    .experience {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;
        width: 30%;
    }
    .experience > div > img {
        width: 65px;
    }

    .seccion-abil-flex{
        justify-content: center;
    }
    .seccion-art-grid{
 
        display: flex;
        gap: 35px;

    }

}